* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  html {
    background-color: #918FC0;
  }
  
  
  body {
    font-family: "octin-college", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #918FC0;
    display: flex;
    flex-direction: column;
  }
  
  img {
    width: 20%;
  }

  h2 {
    font-size: 25px;
    color: #ffffff;
  }

  /* .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
  } */

  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
    padding-top: 5%;
}

/* .content-wrapper {
  display: flex;
  flex-direction: row;
  padding: 5px;
} */

  #joke-list {
    width: 40rem;
    list-style: none;
    font-size: 1.5rem;
  }

  li {
    background-color: rgb(34, 194, 186);
    border-radius: 0.5rem;
    margin-top: 0.75rem;
    padding: 0.5rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .rating {
    width: 180px;
  }
  
  .rating__star {
    cursor: pointer;
    color: #dabd18b2;
  }
  
  /* #fav-container {
    display: inline;
    position: absolute;
    left: 900px;
    top: 110px;
  } */

  
  
  .dad-jokes{
      background-color: #918FC0;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .container {
    color: #53526D;
    justify-content: center;
    align-items: center;
  
  }
  
  .field h2 {
    text-align: center;
    padding-bottom: 20px;
  }
  
  .control.has-icons-left .input,
  .control.has-icons-left .select select {
    padding-left: 10px;
  }
  
  form {
      border: 2px solid #556B30;
        background-color: white;
        border-radius: 20px;
        width: 90%;
        max-width: 600px;
        max-height: 600px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 30px;
        padding-right: 30px;
        margin: auto;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
        margin-top: 50px;
  }
  
  label {
      display: block;
      margin-top: 20px;
  }
  
  input[type="email"],
  input[type="recipient"],
  input[type="sender"],
  input[type="time"],
  .sendEmail {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
  }
  
  .input.input.is-success {
  border-color: #53526D;
  }
  
  .sendEmail {
      background-color: #53526D;
      color: #fff;
      cursor: pointer;
      font-family: "octin-college", sans-serif;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border: none;
      width: 260px;
      margin-top: 50px;
  }
  
  #button{
    text-align: center;
  }
  
  button:hover {
      background-color: #0056b3;
  }
  
  input:invalid {
      border-color: #ff0000;
  }
  
  
  #time{
    border-radius: 5px;
    padding: 10px;
    border-color: #53526D;
  }
  
  
/* See if you can implement overlay */
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(3px);
      z-index: 5;
    }